<table class="centered striped">
    <thead>
        <tr>
            <th>{{ 'label.image'|trans }}</th>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ 'label.price'|trans }}</th>
            <th class="hide-on-small-only">{{ 'label.comment'|trans }}</th>
            {% if context == 'default' %}
                <th>{{ 'label.actions'|trans }}</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for wish in wishes|naturalSorting %}
            <tr class="list-element resize-element" data-title="{{ wish.name }}"
                data-filter-target="element">
                <td data-controller="lightbox">
                    {% if wish.image %}
                        <a href="{{ asset(wish.image) }}" data-lightbox="image-{{ wish.id }}">
                            <img class="wishlist-item-avatar" loading="lazy" alt="{{ wish.name }}"
                                    src="{{ preload(asset(wish.imageSmallThumbnail), {as: 'image'}) }}">
                        </a>
                    {% else %}
                        <img class="wishlist-item-avatar" loading="lazy" alt="{{ wish.name }}"
                                src="{{ preload(asset('../build/images/default.png'), {as: 'image'}) }}">
                    {% endif %}
                </td>
                <td>
                    {% if wish.url is not null %}
                        <a href="{{ wish.url }}" target="_blank">{{ wish.name }}</a>
                    {% else %}
                        {{ wish.name }}
                    {% endif %}
                </td>
                <td>
                    {% if wish.price is not null %}
                        <span>
                        {% if wish.currency is not null %}
                            {{ wish.price|format_currency(wish.currency) }}
                        {% else %}
                            {{ wish.price }}
                        {% endif %}
                    </span>
                    {% endif %}
                </td>
                <td class="hide-on-small-only">
                    {{ wish.comment }}
                </td>
                {% if context == 'default' %}
                    <td class="table-actions">
                        <a href="{{ path('app_wish_transfer_to_collection', {id: wish.id}) }}"
                            title="{{ 'tooltip.transfer_to_collection'|trans }}">
                            <i
                                    class="fa fa-plus fa-fw"></i>
                        </a>
                        <a href="{{ path('app_wish_edit', {id: wish.id}) }}"
                            title="{{ 'tooltip.edit'|trans }}">
                            <i class="fa fa-pencil fa-fw"></i>
                        </a>
                        {{ include('App/_partials/_icon/_delete.html.twig', {
                            path: path('app_wish_delete', {id: wish.id}),
                            message: 'message.delete.wish'
                        }) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>